.membership-box
{
    background:#fff !important;
    color:#2d405f !important;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.membership-box-business 
{
    background-color: #466393;
    color:#fff !important;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);

}
 